JournalAbstractScraper_Console/bin
.vs/JournalAbstractScraper_Console/FileContentIndex
.vs/JournalAbstractScraper_Console/v17
.vs/JournalAbstractScraper_Console/DesignTimeBuild
JournalAbstractScraper_Console/obj/Debug
